body {
  background: #333;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content-wrapper {
  height: 1800px;
  width: 1290px;
  position: relative;
  margin: 0 auto;
  background: -webkit-gradient(linear, top left, bottom left, from(#c5c3de), to(#7cbad7));
  background: -webkit-linear-gradient(top, #c5c3de, #7cbad7);
  background: linear-gradient(top, #c5c3de, #7cbad7);
  overflow: hidden;
}

.mts {
  position: absolute;
  left: 0;
  top: 100px;
  width: 1300px;
  height: 737px;
  background: transparent url(../img/mts.png) 0 0 no-repeat;
}

.hills {
  width: 1290px;
  height: 1000px;
  position: absolute;
  background: transparent url(../img/hill.png) 0 0 no-repeat;
}

.car {
  position: absolute;
  left: 2000px;
  top: 200px;
  width: 400px;
  height: 710px;
  background: transparent url(../img/car.png) 0 300px no-repeat;
}

.ground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 730px;
  background: -webkit-gradient(linear, top left, bottom left, from(#cccccc), to(#999999));
  background: -webkit-linear-gradient(top, #cccccc, #999999);
  background: linear-gradient(top, #cccccc, #999999);
}

.sun {
  position: absolute;
  left: -400px;
  top: -200px;
  width: 2000px;
  height: 2000px;
  background: transparent url(../img/starburst.png) 0 0 no-repeat;
}

h1 {
  font-family: 'Luckiest Guy', sans-serif;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #325b6e;
  font-weight: normal;
  color: #ffb000;
  width: 100%;
  font-size: 7em;
  text-align: center;
  top: 200px;
  position: absolute;
  z-index: 100;
}

.popup {
  width: 460px;
  height: 260px;
  border-radius: 20px;
  padding: 20px;
  border: 4px solid #7cbad7;
  position: relative;
  top: 1000px;
  left: 1000px;
  opacity: 0;
  margin: 0 auto;
  background: white;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup h2 {
  color: #7cbad7;
  font-size: 2em;
  font-weight: normal;
  width: 100%;
  text-align: center;
}

.popup .image-choice {
  position: relative;
  text-align: center;
}

.popup .image-choice a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.popup .image-choice img {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.popup .image-choice img {
  margin: 40px;
  border-radius: 50%;
  border: 4px solid #7cbad7;
}

.popup .image-choice a:hover img {
  -webkit-transform: scale(1.1);
}