@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$dk_blue: #222438;
$med_blue:	#7cbad7;
$lt_blue: #C5C3DE;
$yellow: #FFB000;
$red: #D92B00;